.container {
    min-height: 100vh !important;
}
.list-group-flush .list-group-item.active {
    font-size: 1.2rem;
    background: rgb(133,70,175);
    background: linear-gradient(90deg, rgba(133,70,175,1) 4%, rgba(85,81,213,1) 39%, rgba(80,83,216,1) 61%, rgba(62,92,229,1) 77%, rgba(29,109,253,1) 100%, rgba(252,176,69,1) 100%);
}

.list-group-flush .list-group-item {
    border-radius: 25px !important;
    border-bottom: none;
    margin-bottom: 10px;
}
nav svg {
    margin-top: -3px;
    margin-right: 5px !important;
}

.list-group-item a {
    text-decoration:none;
}
.list-group-item:hover {
    cursor:pointer;
    background-color: rgb(230, 230, 230);
    color: black;
}
.list-group-item:hover > .text-dark{
    color: black !important;
}
.list-group-item {
    border-radius: 0px;
}
.card {
    border-radius: 20px;
}
.card .company-name {
    border-radius:20px;
    padding: 10px;
    background-color: white;
    color: black !important;
    display:inline-block;
    font-weight: 500 !important;
    font-size:1.1rem;
    margin:5px;
    text-transform:capitalize !important;
}
.card .date-name{
    border-radius:20px;
    padding: 10px;
    background-color: white;
    color: purple !important;
    display:inline;
    font-weight: 500 !important;
    font-size:0.9rem;
    margin:5px;
}
.card .type-name{
    border-radius:20px;
    padding: 10px;
    background-color: white;
    display:inline;
    font-weight: 500 !important;
    font-size:0.9rem;
    margin:5px;
    text-transform:capitalize !important;
}
.bg-custom-declined {
    background-color:rgb(151, 47, 224) !important;           
}
.bg-custom-rejected {
    background-color:rgb(235, 79, 68) !important;
}
.bg-custom-offer {
    background-color:green !important;
}
.bg-custom-interview {
    background-color:grey !important;
}
.list-group-item.active a{
    color: white !important;
}
.list-group-item.active {
    border: 0px;
}

.bg-company {
background-color: rgb(80, 78, 78);
padding: 10px;
border-top-left-radius: 20px;
border-top-right-radius: 20px;
padding-top: 10px !important;
padding-left: 15px !important;
color:white;
}

.border-rounded {
    border-radius:20px;
    border:1px solid rgba(128, 128, 128, 0.37);
    margin-left: 4px;
    margin-right:4px;
}

.responsive-menu-list div > a {
    text-decoration: none;
    
}

.responsive-menu-list  {
    -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    scrollbar-width: none !important;  /* Firefox */
}
.responsive-menu-list ::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}
.border-rounded.bg-primary {
    color:white;
}

.border-rounded.bg-primary a{
    color:white !important;
}

.border-rounded.bg-primary a{
    text-decoration:none;
}
.border-rounded:hover {
    cursor:pointer;
    background-color: rgb(230, 230, 230);
    color: black;
}
.border-rounded:hover > .text-dark{
    color: black !important;
}
.app-note-holder {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.app-container:hover  .app-note-holder {
    opacity: 1;
    height: auto;
}