<!DOCTYPE html>
<html>

<head>
    <title>Contact Us</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="bg-dark">
    <div class="container" >
        <div class="vg-white border-transparent card p-3 align-items-center">
            <h3>Contact Us</h3>
            <form action="contact.php" method="POST">
                <div class="form-group ">
                    <input class="mb-2" type="text" name="email" style="width:200px" placeholder="E-mail"/>
                </div>
                <div class="form-group ">
                    <textarea class="mb-2" name="message" style="width:200px" placeholder="Message"></textarea>
                </div>
                <div class="form-group ">
                <input class="form-control" type="submit" value="Send" class="btn" name="login_user"/>
                </div>
            </form>
        </div>

    </div>
</body>
